In [342]:
# Python 3 - Curso Completo do Básico ao Avançado

In [343]:
print("Primeiro Programa")

Primeiro Programa

In [344]:
1 + 2
4 + 5 + 6

15

In [345]:
print(1 + 2)
print(4 + 5 + 6)

3
15

In [346]:
# Tipos Básicos

# Booleano
print(True)
print(False)

# Números Reais: Float e Int
print(1.2 + 1)

# Sequencia de Caracteres: Strings
print("Strings!")
print("Reino de " + 3 * "tão " + "distante!")

#Listas
print([1,2,3])

# Dicionários
print({"Nome" : "Pedro", "Idade" : "22"})

# Nulo
print(None)

True
False
2.2
Strings!
Reino de tão tão tão distante!
[1, 2, 3]
{'Nome': 'Pedro', 'Idade': '22'}
None

In [347]:
# Variáveis

a = 10
b = 5.2

print(a + b)

# Variaveis de Tipos Diferentes
c = "dez"

print(f"O número {a} é escrito como: {c}.")

15.2
O número 10 é escrito como: dez.

In [348]:
# Operadores Aritméticos

print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(9.4 // 3)
print(2 ** 8)
print(10 % 3)

5
-3
10.6
3.1333333333333333
3.0
256
1

In [349]:
# Qual o percentual da Despesas do Mês que compromete o Salário do Mês?

salario_do_mes = 3450.54
despesas_do_mes = 2456.2

percentual = despesas_do_mes / salario_do_mes * 100
print(int(percentual))

71

In [350]:
# Operadores Relacionais

print (3 > 4)
print (4 >= 3)
print(1 < 2)
print (3 <= 1)
print (3 != 2)
print (3 == 3)
print (2 == "2")

False
True
True
False
True
True
False

In [351]:
# Operadores de Atribuição

a = 3
a = a + 7
print(a)

a += 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a **= 8
print(a)

a //= 256
print(a)

a %= 3
print (a)

10
15
12
24
6.0
1679616.0
6561.0
0.0

In [352]:
# Operadores Lógicos 

True or False 
7 != 3 and 2 > 3

# Tabela Verdade AND

print(True and True)
print(True and False)
print(False and True)
print(False and False)
print(True and True and False and True and True)

True
False
False
False
False

In [353]:
# Tabela Verdade OR

print(True or True)
print(True or False)
print(False or True)
print(False or False)
print(False or False or True or False or False)

True
True
True
False
True

In [354]:
# Tabela Verdade XOR (Um ou outro)

print(True != True)
print(True != False)
print(False != True)
print(False != False)

False
True
True
False

In [355]:
# Operador de Negação (Unário)

print(not True)
print(not False)
print(not 0)
print(not 1)
print(not not -1)
print(not not True)

False
True
True
False
True
True

In [356]:
# Conversão de Tipos

print(2 + 3)
# Erro de Tipo int + str: print (2 + "3")

# Conversão:

a = 2
b = "3" 
print(type(a))
print(type(b))
print(a + int(b))
print(f"{a}+{b}")

5
<class 'int'>
<class 'str'>
5
2+3

In [357]:
# Numeros Decimais

from decimal import Decimal, getcontext

getcontext().prec = 1
print(Decimal(1) / Decimal(7))

print(Decimal.max(Decimal(1), Decimal(7)))

1.1 + 2.2
getcontext().prec = 10
print(Decimal(1.1) + Decimal(2.2))

0.1
7
3.300000000

In [358]:
# Strings

nome = "Paulo"
print(nome[0])

nome_moca = "Ana Paula"
print(nome_moca[0])
print(nome_moca[6])
print(nome_moca[-3])
print(nome_moca[4:])
print(nome_moca[-5:])
print(nome_moca[:3])
print(nome_moca[2:5])
print(nome_moca[::-1])

# Tamanho da String

print(len(nome_moca))

P
A
u
u
Paula
Paula
Ana
a P
aluaP anA
9

In [359]:
# Tamanho da String

print(len(nome_moca))

# Frase Lower

frase = "And Rohan will answer."
frase_lower = frase.lower()
print(frase_lower)

# Frase Upper

frase_upper = frase.upper()
print(frase_upper)

# Frase Split

frase_split = frase.split()
print(frase_split)

frase_split_a = frase.split('a')
print(frase_split_a)

9
and rohan will answer.
AND ROHAN WILL ANSWER.
['And', 'Rohan', 'will', 'answer.']
['And Roh', 'n will ', 'nswer.']

In [360]:
# Listas 

lista_a = [1,2,3]
print(lista_a)
print(type(lista_a))
print(len(lista_a))

lista_a.append(4)
print(lista_a)

lista_a.append(5)
print(lista_a)
print(len(lista_a))

lista_a.remove(5)
print(lista_a)

lista_a.reverse()
print(lista_a)

[1, 2, 3]
<class 'list'>
3
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]
[4, 3, 2, 1]

In [361]:
# Listas

lista_nomes = ["Ana", "Lia", "Rui", "Paulo", "Dani"]
print(lista_nomes[1:3])
print(lista_nomes[1:-1])
print(lista_nomes[1:])
print(lista_nomes[:-1])
print(lista_nomes[:])
print(lista_nomes[::2])
print(lista_nomes[::-1])

del lista_nomes[2]
print(lista_nomes)

del lista_nomes[1:]
print(lista_nomes)

['Lia', 'Rui']
['Lia', 'Rui', 'Paulo']
['Lia', 'Rui', 'Paulo', 'Dani']
['Ana', 'Lia', 'Rui', 'Paulo']
['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
['Ana', 'Rui', 'Dani']
['Dani', 'Paulo', 'Rui', 'Lia', 'Ana']
['Ana', 'Lia', 'Paulo', 'Dani']
['Ana']

In [362]:
# Tuplas (Listas Constantes)

tupla = tuple()
tupla = ()
print(type(tupla))

tupla = ("Um","Dois")
print(tupla)

<class 'tuple'>
('Um', 'Dois')

In [363]:
# Dicionários

pessoa = {"Nome": "Profa. Ana", "Idade": "38", "Cursos": ["Inglês", "Português"]}
print(type(pessoa))
print(len(pessoa))
print(pessoa["Nome"])
print(pessoa.keys())
print(pessoa.values())
print(pessoa.get("Idade"))

<class 'dict'>
3
Profa. Ana
dict_keys(['Nome', 'Idade', 'Cursos'])
dict_values(['Profa. Ana', '38', ['Inglês', 'Português']])
38

In [364]:
# Conjuntos

a = {1,2,3}
print(type(a))

nome = set("Sissa")
print(nome)

adjetivo = set("Linda")
print(nome.union(adjetivo))

nome_adjetivo = {"Sissa", "Linda"}
print(type(nome_adjetivo))

<class 'set'>
{'i', 'S', 's', 'a'}
{'S', 'L', 'n', 'd', 'i', 's', 'a'}
<class 'set'>

In [365]:
# União

c1 = {1, 2}
c2 = {2, 3}
print(c1.union(c2))
print(c1.intersection(c2))

c1.update(c2)
print(c1)

{1, 2, 3}
{2}
{1, 2, 3}

In [366]:
# Interpolação

Nome, Idade, Altura = "Ana", 30, 1.60
print("Nome: %s \nIdade: %d \nAltura: %.2f" % (Nome, Idade, Altura))
print(f"Nome: {Nome}, Idade: {Idade}, Altura: {Altura}.")

Nome: Ana
Idade: 30
Altura: 1.60
Nome: Ana, Idade: 30, Altura: 1.6.